/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;   
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;  
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a{
    /* display: inline; */
    margin-right: 40px;
    font-size: 19px; 
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
   
}

.section {
    margin: 20px 0;
    text-align: center;
}

/* about section */

#about {
    background-color: #e1d5d5;
    
}
.Welcome{
    margin-top: 50px;
    font-size: 40px;
    color: rgba(82, 99, 200, 0.828);
}
.welcomehr{
    width: 650px;
    height: 3px;
    background-color: #070707;
    margin: auto;
    margin-top: 70px;
}
.btn{
    background-color: #333;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    display: block;
    margin: auto;
    font-weight: 800;
    
    
}
.btn a{
    text-decoration: none;
    color: rgb(218, 194, 194);
}
.btn a:hover{
    color: white;
}
.btn:hover{
    background-color: rgb(89, 82, 82);
    color: white;
}
.AboutMe {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
   
}
.span1{
    font-size: 40px;
}

.abouthead {
    margin-top: 60px;
    font-size: 35px;
}

.myImg {
    width: 200px;
    border-radius: 50%;
    background: transparent;
}

.fontsize {
    font-size: 50px;
}
.skill-section{
    margin-top: 150px;
    margin-bottom: 50px;
}
.skills{
    font-size: 50px;
    margin-bottom: 10px;
}
.preline{
    width: 5px;
    height: 25px;
    background-color: black;
    align-items: center;
    margin-left: 570px;

}
.line{
    height: 5px;
    background-color: #333;
}
.lines{
    display: flex;
    justify-content: space-evenly;
}
.line2{
    height: 5px;
    background-color: red;
    width: 5px;
    height: 30px;
}
.level{
    color: red;
    margin-top: 10px;
}
.imgl{
    width: 65px;
    margin-top: 10px;
}


/* Project section */


.project {
    margin: 20px;
    padding: 20px;
    background-color: #e7bcbc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.project img {
    max-width: 10%;
    height: auto;
    
}

.project img:hover {
padding: 8px;
}

span {
    color: red;
    font-size: 18px;
}

.h3 {
    
    font-size: 20px;
    color: #333;
    width: 15%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
}

.h3 a:hover{
/* background-color: #333; */
color: rgb(233, 49, 49);
padding: 8px;
border-radius: 50%;
text-decoration: none;
}
.h3-2project{
    margin-top: 10px;
}

.p {
    font-size: 20px;
}

.h5 {
    margin-top: 10px;
    font-size: 20px;
}


.li {
    margin-top: 5px;
}
.li2{
    border: 1px solid black;
    
}

.img {
    width: 50px;
    margin: 10px;
}
.img:hover{
    padding: 5px;
}
#contact{
    background-color: #b29b9b;
}
.phndata{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.phnimg{
    width: 20px;
}

.contact{
    font-size: 50px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
